<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", {title: "Registro"})  %> 
</head>
<body>

<h4>Pagina de registro</h4>
<section>

    <form action="/registro" method="POST">
		<div>
			<label for="">Ingrese su nombre</label>
			<input type="text" name="name">
		</div>
		<div>
			<label for="">Ingrese su email</label>
			<input type="email" name="email">
		</div>
		<div>
			<label for="">Ingrese su edad</label>
			<input type="text" name="age">
		</div>
		
		<button type="submit">Enviar</button>
	</form>

</section>            
</body>
</html>