<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", {title: "Detalle del vino"})  %> 
</head>
<h4>Detalle de producto</h4>
<section>
<body>
            <h5><%= product.Vino %></h5>
            <h4><%= product.Etiqueta %></h4>
            <h5><%= product.Precio %></h5>
</section>            
</body>
</html>